In [8]:
# importing the library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
from sklearn.datasets import load_diabetes
diab=load_diabetes()

In [10]:
#loading the dataset
df=pd.DataFrame(diab['data'],columns=diab['feature_names'])
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [15]:
x=df.iloc[:,:-1].values
y=df.iloc[:,:-1].values

In [16]:
x,y

(array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.04340085,
         -0.00259226,  0.01990842],
        [-0.00188202, -0.04464164, -0.05147406, ...,  0.07441156,
         -0.03949338, -0.06832974],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.03235593,
         -0.00259226,  0.00286377],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.02499266,
         -0.01107952, -0.04687948],
        [-0.04547248, -0.04464164,  0.03906215, ..., -0.02867429,
          0.02655962,  0.04452837],
        [-0.04547248, -0.04464164, -0.0730303 , ...,  0.17381578,
         -0.03949338, -0.00421986]]),
 array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.04340085,
         -0.00259226,  0.01990842],
        [-0.00188202, -0.04464164, -0.05147406, ...,  0.07441156,
         -0.03949338, -0.06832974],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.03235593,
         -0.00259226,  0.00286377],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.02499266,
         -0.01107952, -0.04687948],
        [-0.04547248, -0.04464164,  0.03906215, ..., -0.02867429,
          0.02655962,  0.04452837],
        [-0.04547248, -0.04464164, -0.0730303 , ...,  0.17381578,
         -0.03949338, -0.00421986]]))

In [17]:
df.isna().sum()

age    0
sex    0
bmi    0
bp     0
s1     0
s2     0
s3     0
s4     0
s5     0
s6     0
dtype: int64

In [19]:
# Handling the missing values
from sklearn.impute import SimpleImputer
Imputer=SimpleImputer(
    missing_values=np.nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [25]:
# standardizing the dataset
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)