# T-test

# One Sample Test

In [1]:
ages=[2,4,6,10,25,23,30,32,43,45,46,35,37,28,39,40,27,50,60,39,40,58,39,40]

In [2]:
len(ages)

24

In [3]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

33.25

In [10]:
## Let's take samples
age_sample=np.random.choice(ages,size=10)

In [11]:
print(age_sample)

[40 27 39  2 25 32 39 50 60 50]

In [12]:
from scipy.stats import ttest_1samp

In [13]:
ttest, p_value=ttest_1samp(age_sample,30)

In [14]:
print(p_value)

0.2442155499217641

In [17]:
if p_value<=0.05:
    print("We are Rejecting Null Hypothesis")
else:
    print("We are Accepting the Null Hypothesis")

We are Accepting the Null Hypothesis

# Two sample T test

In [40]:
np.random.seed(12)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)
classB_ages=stats.poisson.rvs(loc=19,mu=30,size=60)

In [41]:
print(classA_ages.mean())
print(classB_ages.mean())

47.75
48.38333333333333

In [42]:
ttest,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)
print(p_value)

0.5108191035181628

In [43]:
if p_value<=0.05:
    print("We are Rejecting Null Hypothesis")
else:
    print("We are Accepting the Null Hypothesis")

We are Accepting the Null Hypothesis

In [44]:
import pandas as pd
import numpy as np

In [49]:
class_ages_df=pd.DataFrame({"classA":np.array(classA_ages),"classB":np.array(classB_ages),
                           "age_diff":np.array(classA_ages)-np.array(classB_ages)})

In [50]:
class_ages_df

    classA  classB  age_diff
0       41      51       -10
1       44      46        -2
2       56      51         5
3       61      52         9
4       44      45        -1
5       59      51         8
6       49      47         2
7       53      53         0
8       53      58        -5
9       41      48        -7
10      45      54        -9
11      47      51        -4
12      44      49        -5
13      51      49         2
14      46      42         4
15      47      53        -6
16      47      41         6
17      47      49        -2
18      39      45        -6
19      50      50         0
20      45      52        -7
21      36      47       -11
22      47      46         1
23      49      52        -3
24      40      44        -4
25      50      54        -4
26      48      51        -3
27      56      50         6
28      50      55        -5
29      48      57        -9
30      38      42        -4
31      50      40        10
32      59      47        12
33      50      41         9
34      45      49        -4
35      61      49        12
36      51      47         4
37      46      54        -8
38      50      51        -1
39      45      46        -1
40      42      47        -5
41      46      44         2
42      56      53         3
43      47      46         1
44      48      35        13
45      53      43        10
46      42      44        -2
47      53      46         7
48      41      51       -10
49      44      48        -4
50      51      51         0
51      46      57       -11
52      42      47        -5
53      39      48        -9
54      57      52         5
55      45      56       -11
56      48      39         9
57      46      45         1
58      50      42         8
59      41      50        -9

# Chi-Square test

 This test is used to find the association between two categorical variables

In [51]:
import seaborn as sns

In [52]:
data=sns.load_dataset('tips')

In [54]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4